<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="username" type="text" label="Username (email)"/>
	<setting id="password" type="text" label="Password" option="hidden"/>
	<setting id="pandoraone" type="bool" label="Pandora One" default="false"/>
	<setting type="sep"/>
	<setting id="quality" type="enum" label="Audio Quality" values="Low|Medium|High" default="2"/>
	<setting id="listmax" type="slider" label="Playlist History" option="int" range="6,1,100" default="14"/>
	<setting id="sort" type="enum" label="Sort Stations" values="Normal|A-Z|Reverse" default="0"/>
</settings>
